<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles.css">
    </head>
  <body>
    
  </br></br>
    <div class="main-heading">
        Sonerous Musings
      </div>
      
      <div class="line">
      <hr>
    </div>
    
    <div class="block">
      {% block content %}
        {% endblock %}
    </div>
        {% block footer %}
    <div class="line">
      <hr>
    </div>
        <p>Aaron France 2012</p>
        {% endblock %}
 </body>
</html>
