body
{
   background-color:#232323;
   color: #EE7621;
   font-family: sans-serif;
   text-align: center;
}

.main-heading
{
   text-align: left;
   font-size: 120%;
   margin-left: 18%;
}

.line
{
   margin-left: 18%;
   margin-right: 18%;  
}

.block 
{

   background-color: #303030;
   text-align: justify;
   margin-left: 20%;
   margin-right: 20%;  
}