#inner { 
   font-family: DejaVu Sans Mono;  
   font-stretch: normal;  
   font-weight: 500;  
   font-style: normal;  
   color: #bebebe;  
   background: #262626;  
   font-size: 10pt;  
   text-decoration: none; 
   background-color: #262626;
   margin-left: 10%;
   margin-right: 10%;
   padding-left: 1px;
   padding-right: 1px;
   border: 1px solid black;
}

span.default   { 
   font-family: DejaVu Sans Mono;  
   font-stretch: normal;  
   font-weight: 500;  
   font-style: normal;  
   color: #bebebe;  
   background: #262626;  
   font-size: 10pt;  
   text-decoration: none; 
}

span.default a { 
   font-family: DejaVu Sans Mono;  
   font-stretch: normal;  
   font-weight: 500;  font-style: normal;
   color: #bebebe;  
   background: #262626;  
   font-size: 10pt;  
   text-decoration: 
      underline; 
}

span.string {
   color: #87cefa;
   font-family: DejaVu Sans Mono;
   font-stretch: normal;
   font-weight: 500;
   font-style: normal;
   background: #262626; 
   font-size: 10pt;
   text-decoration: none;
}

span.string a { 
   color: #87cefa;  
   font-family: DejaVu Sans Mono;
   font-stretch: normal;
   font-weight: 500;
   font-style: normal;
   background: #262626; 
   font-size: 10pt; 
   text-decoration: underline; 
}
span.type {
   color: #87ceeb;  
   font-weight: 700; 
   font-family: DejaVu Sans Mono;
   font-stretch: normal; 
   font-style: normal;
   background: #262626;
   font-size: 10pt;
   text-decoration: none; 
}

span.type a { 
   color: #87ceeb;
   font-weight: 700;
   font-family: DejaVu Sans Mono; 
   font-stretch: normal;
   font-style: normal;
   background: #262626;
   font-size: 10pt;
   text-decoration: underline; 
}

span.keyword { 
   color: #afeeee; 
   font-weight: 700;  
   font-family: DejaVu Sans Mono; 
   font-stretch: normal;
   font-style: normal;
   background: #262626;
   font-size: 10pt;
   text-decoration: none;
}

span.keyword a { 
   color: #afeeee;  
   font-weight: 700; 
   font-family: DejaVu Sans Mono; 
   font-stretch: normal; 
   font-style: normal; 
   background: #262626;
   font-size: 10pt; 
   text-decoration: underline; 
}